*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ProjectPage .container .errMess, .ProjectPage .container .succMess{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 5rem;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    backdrop-filter: blur(1px);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3.5s forwards;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        transform: translateY(-20px);
    }
}


/*
.HomePage{
    background: linear-gradient(to top,#ffffff, #4AA2CC,#006FB6,#005EB6, #004FAB);    
}*/

.HomePage .userProfile img{
    width: 150px;
    height: 150px;
}

.HomePage .userProfile #login_user_name{
    font-size: 20px;
    font-weight: 400;
}

.HomePage .MyProject .ProjectList{
    height: 500px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);    
}

.HomePage .MyProject .input-container{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;    
}


.HomePage .MyProject .input-container input{
    border: none;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    position: relative;
}

.HomePage .MyProject .input-container input:focus{
    color: #495057;
    background-color: #fff;    
}

.HomePage .MyProject .input-container .search-button{
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}


.HomePage .mainBoard{
}
