*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    height: auto;
    width: 100%;
}

/*  Page styling */

.LoginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
}

.LoginPage .container{
    height: 75vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(to top, #ffffff, #4AA2CC,#006FB6,#005EB6, #004FAB);
    padding: 0;
}

.LoginPage .container .townhallDiv{
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}


.LoginPage .container .townhallDiv img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.LoginPage .container .townhallDiv .footerDiv{
    position: absolute;
    background: rgba(255, 255, 255, 0.19);
    bottom: 10px;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    justify-content: space-between;
    backdrop-filter: blur(1px);
    border-radius: 10px;
}
.LoginPage .container .townhallDiv .footerDiv .text{
    font-size: 20px;
    color: white;
}

.LoginPage .container .townhallDiv .footerDiv .btn{
    background-color: #233975;
    color: white;
}

.LoginPage .container .townhallDiv .footerDiv .btn:hover{
    background-color: #65210C;
    color: white;
}


.LoginPage .container .formDiv{
    flex-basis: 50%;
    flex-direction: column;
    margin: auto;
    gap: 1.5rem;
}

.LoginPage .container .formDiv .headerDiv{
    text-align: center;
    padding: 1.5rem;
}

.LoginPage .container .formDiv .headerDiv img{
    width: 70px;
    padding-bottom: .5rem;
}

.LoginPage .container .formDiv .headerDiv h3{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.LoginPage .container .formDiv .form label{
    font-weight: 400;
    font-size: 14px;
    padding: .5rem 0;
}

.LoginPage .container .formDiv .form .input{
    background-color: #ffffff;
    border-radius: 0.375rem;
    gap: .5rem;
    padding-left: 1rem;
}

.LoginPage .container .formDiv .form .input .icon{
    color: #167EBD;
}

.LoginPage .container .formDiv .form input{
    border: none;
}

.LoginPage .container .formDiv .form button{
    padding: .8rem;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
    font-size: 16px;
    gap: 5rem;
    width: 100%;
    transition: .3s ease; 
    background-color: #233975;
    color: white;
    }
    
.LoginPage .container .formDiv .form button:hover{
    background-color: #D4AA5D;
    color: #233975;
}

.LoginPage .container .formDiv .errMess{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 5rem;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    backdrop-filter: blur(1px);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3.5s forwards;
}

.LoginPage .container .formDiv .succMess{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 5rem;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    backdrop-filter: blur(1px);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3.5s forwards;
}

.LoginPage .container .formDiv .shift {
    transform: translateY(-20px);
    animation: slideInform 0.5s forwards, fadeOutform 0.5s 3.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes slideInform {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutform {
    to {
        transform: translateY(-20px);
    }
}