*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ProjectPage .container .AllProject .ProjectList{
    height: 600px;
    max-width: 600px;
    overflow-y: auto;
}

.ProjectPage .container .errMess{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 5rem;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    backdrop-filter: blur(1px);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3.5s forwards;
}

.ProjectPage .container .succMess{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    gap: 5rem;
    padding: 0 1rem;
    height: 60px;
    left: 0.5rem;
    right: 0.5rem;
    backdrop-filter: blur(1px);
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 3.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        transform: translateY(-20px);
    }
}


.ProjectPage .container .AllProject .ProjectList .input-container{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    width: 400px;
}

.ProjectPage .container .AllProject .ProjectList .input-container input{
    border: none;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    position: relative;
}

.ProjectPage .container .AllProject .ProjectList .input-container input:focus{
    color: #495057;
    background-color: #fff;
}
.ProjectPage .container .AllProject .ProjectList .input-container .search-button{
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.hideItems, .hideItems *{
    opacity: 0;
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

.ProjectPage .container .EditProject .formDiv form{
    width: 600px;
}

.ProjectPage .container .EditProject .formDiv form .input-container .input-description{
    height: 70px;
    text-align: center;
}